<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario" (ngSubmit)="guardar()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-datetime formControlName="fechaNacimiento" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Comida Favorita</ion-label>
      <ion-select formControlName="comida">
        <ion-select-option value="hornado">Hornado</ion-select-option>
        <ion-select-option value="papas">Papas con Cuero</ion-select-option>
        <ion-select-option value="mote">Mote</ion-select-option>
        <ion-select-option value="librillo">Librillo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Equipo Favorito Local</ion-label>
      <ion-select formControlName="equiposfutbol" multiple="true">
        <ion-select-option value="dquito">Deportivo Quito</ion-select-option>
        <ion-select-option value="barcelona">Barcelona</ion-select-option>
        <ion-select-option value="aucas">Aucas</ion-select-option>
        <ion-select-option value="liga">Liga de Quito</ion-select-option>
        <ion-select-option value="emelec">Emelec</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="telefono" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Escriba una cualidad de usted: </ion-label>
      <ion-textarea formControlName="cualidad"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit">Guardar</ion-button>
  </form>
</ion-content>

